html {
    background-color: black;
    background-image: linear-gradient(to bottom right, black, rgb(0, 0, 49));
}

.floats {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.header {
    position: relative; 
    width: 100%; 
    height: 100%;
}

.header img {
    object-fit: cover;
}

.navbar {
    height: 100%;
    margin: 0px;
    list-style-type: none;
    background-color: rgb(3, 3, 58);
    text-align: center;
    border-radius: 5px;
}

.navbar .static {
    margin-left: 0px;
    display: inline-block;
    color:whitesmoke;
    cursor: default;
    background-color: rgb(3, 3, 58);
    font-size: 200%;
}

.navbar a {
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
    padding: 14px 40px; 
    font-size: 200%; 
    background-color: rgb(3, 3, 58);
    color: whitesmoke;
    border-radius: 10px;
}

.navbar a:hover {
    color: goldenrod;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -25px;
    margin-top: 15px;
    min-width: 150px; 
    z-index:1;
}

.dropdown:hover {
    color: goldenrod;
    text-decoration: none; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-align: center;
    color: whitesmoke;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    font-size: 100%;
    width: 256px;
}

.dropdown {
    position: relative;
    padding: 14px 40px; 
    background-color: rgb(3, 3, 58);
    color: whitesmoke;
    text-align: center;
    margin: 5px 40px;
    text-decoration: none; 
    cursor: pointer; 
    font-size: 200%; 
    border-radius: 10px;
}

.dropdown-content a p {
    margin: 0;
}

.floats p { 
    text-align: center;
    color: blanchedalmond;
    font-size: 150%;
}

h1 {
    text-align:center;
    color:blanchedalmond;
    font-size: 200%;
}

.sidebar {
    background-color: rgb(3, 3, 58);
    margin-top: 15px;
    border:1px Black solid;
    border-radius: 15px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style: none;
}

.sidebar p {
    font-size: 150%;
    color: blanchedalmond;
}

.sidebar a {
    font-size: 150%;
    color: blanchedalmond;
    text-decoration: none;
}

.sidebar a:hover {
    color: goldenrod;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.margins {
    margin-left: 10%;
    margin-right: 10%;
}