<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="margins floats"><h1>Welcome to my portfolio.</h1>
<p>I am a Kingston University first year Mathematics student and I would be pleased to welcome you to my Professional Environments individual portfolio assigment submission.
    To navigate please hover your mouse over the navigation bar at the top. To access the evidence for my skills please go to workshops category and pick items of your intrest. 
    For my individual employability pieces and reports please go to About Me section and choose which piece you would like to see.
    If you would like to contact me or see my extra bits and websites which I use please go to side column which is available on every page.
</p></div>