<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="margins floats">
    <h1>Matlab Work</h1>
    <p>
        Matlab is one of the most used tools in dynamic matrix programming. And is one of the major tools used on my course.
    </p>
    <p>
        One of the functions we had to make is quadratic equation calculator. It should be able to distinguish whether the equation is valid and what to do with complex roots of the 
        equation. It also can calculate root of linear equation. 
    </p>        
    <p>
        Another task was to make function that approximates the value of pi using invers of tan. The function takes up steps of precision as an input and then computes value of p using tan 
        invers series with steps of precision as indicator where the series should stop.
    </p>
    <p>
        Last one worth mentioning is ten green bootles that can take up to 1 million steps and produce number to text for all of them.
    </p>
</div>