<img class="header" src="../style/Topbg.png" alt="Ugh, that spoils everything!">
<div class="navbar static">
    <div class="static">
        k1817931 - Portfolio
    </div>
    <a href="/">Home</a>
        <div class="dropdown static">
            Workshops
            <div class="dropdown-content">
                <a href="/matlab"><p>Matlab</p></a>
                <a href="/javascript">JavaScript</a>
                <a href="/python">Python</a>
                <a href="/poster">Poster</a>
                <a href="/java">Java</a>
                <a href="/php">Php</a>
            </div>
        </div>
        <div class="dropdown static">About Me
            <div class="dropdown-content">
                <a href="/resume">Resume</a>
                <a href="/employ">Employability Audit Assigment</a>
                <a href="/career">Career Plan</a>
            </div>
        </div>
</div>