
<img class="header" src="../style/Topbg.png" alt="Ugh, that spoils everything!">
<ul class="navbar">
    <li><div class="floats">k1817931 - Portfolio</div></li>
    <li><a href="/">Home</a>
    <li><div class="dropdown">Workshops
            <div class="dropdown-content">
                <a href="/matlab">Matlab</a>
                <a href="/javascript">JavaScript</a>
                <a href="/python">Python</a>
                <a href="/poster">Poster</a>
                <a href="/java">Java</a>
                <a href="/php">Php</a>
        </div>
    </li>
    </div>
    <li><div class="dropdown">CV
            <div class="dropdown-content">
                <a href="/resume">Resume</a>
                <a href="/employ">Employability Audit Assigment</a>
                <a href="/career">Career Plan</a>
    </div>
</div>
    </li>
    <li><a href="/resume">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>