<div class="col-3 sidebar floats"><h1>Contact</h1>
    <p>
        <ul>
            <li><a href="https://www.codewars.com/users/Yasuzume"><b>CodeWars Profile</b></a></li>
            <li><a href="https://www.linkedin.com/in/krzysztof-a-siatkowski-427b9917a/"><b>Linkedin Profile</b></a></li>
            <li><a href="mailto:k1817931@kingston.ac.uk"><b>E-mail: k1817931@kingston.ac.uk</b></a></li>
        </ul>
    </p>
</div>